template(name='home')
  .container.row
    .col-xs-12
      img(src='/assets/logo.png').big-logo.center-block
  
  if currentUser
    .container
      input#searchBook(type='text', placeholder='Search by title')
      button.btn.btn-default#searchBookBtn Search
      .bookResult
        each books 
          .bookDetails
            .container.row.book-item
              .col-xs-3
                .cover
                  img(src='#{bookImage}')
              .col-xs-9
                .row
                  .col-xs-12
                    h2 
                      span.title= bookName
                    h4 by 
                      span.author= bookAuthor
                    .rating
                      !{bookrating}
                    .description= bookDesc
                    br
                    .isbn= bookIsbn
                    .pull-right
                      button.btn.btn-default.borrow Borrow
            
